<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>会員一覧</title>
</head>

<body>
	<div id="admin-header" th:insert="~{admin_common::admin-header}"></div>

	<div class="my-4 mx-5" style="min-height: 780px;">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center">
				<h1>会員一覧</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- 会員データがない場合のメッセージ -->
				<div th:if="${userList.isEmpty()}" class="col-md-5 alert alert-danger">会員データがありません。
				</div>
				<!-- 会員一覧 -->
				<table th:if="${!userList.isEmpty()}" class="table table-hover table-bordered">
					<thead class="table-info">
						<tr>
							<th>ID</th>
							<th>名前</th>
							<th>メールアドレス</th>
							<th>会員ステータス</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<!-- 会員リストをループで表示 -->
						<tr th:each="user : ${userList}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.isDeleted ? '退会済' : '未退会'}"></td>
							<td>
								<a th:href="@{/admin/user/{id}(id=${user.id})}"
									class="btn btn-sm btn-outline-info">詳細</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="admin-footer" th:insert="~{admin_common::admin-footer}"></div>
</body>

</html>