<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/login/login.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>ログイン画面</title>
</head>

<body>

	<div th:insert="~{user_common :: header}"></div>

	<div class="login-container">
		<h2>ログイン</h2>
		<!-- エラー表示 -->
		<div th:if="${param.error}">
			<p style="color: red;">emailまたはpasswordが違います</p>
		</div>
		<!-- ログアウト表示 -->
		<div th:if="${param.logout}">
			<p style="color: blue">ログアウトしました</p>
		</div>
		<!-- サインアップ表示 -->
		<div th:if="${success}">
			<p th:text="${success}" style="color:green">登録しました</p>
		</div>
		<div class="login-form">
			<form th:action="@{/user/authentication}" method="post">
				<div class="form-group">
					<label for="email">メールアドレス</label>
					<input type="text" id="email" name="email" placeholder="メールアドレスを入力" >
				</div>
				<div class="form-group">
					<label for="password">パスワード</label>
					<input type="password" id="password" name="password" placeholder="パスワードを入力" >
				</div>
				<button type="submit">ログイン</button>
			</form>
		</div>
		<div class="login-link">
			<p>アカウントをお持ちでない方は <a th:href="@{/user/register}" style="font-weight: bold;"> こちら </a></p>

			<p>パスワードを忘れた方は <a th:href="@{/user/login/reset/mail}" style="font-weight: bold;"> こちら </a></p>
		</div>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
	
	<script th:src="@{/js/user/common/user_common.js}"></script>
</body>

</html>