<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/login/reset.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>パスワードの再設定</title>
</head>
<body>
	<div th:insert="~{user_common :: header}"></div>
	
	<div class="container">
		<h1>パスワード再設定メールの送信</h1>
		<div th:if="${tokenError}" th:text="${tokenError}"></div>
		<div>登録したメールアドレスを入力してください</div>
		<div th:if="${success}" th:text="${success}" style="color: blue;"></div>
		<form th:action="@{/user/login/reset/mail}" method="post">
			<div>
				<input type="text" name="email">
				<span th:if="${error}" th:text="${error}" style="color: red;"></span>
			</div>
			<button type="submit">再設定のメールを送る</button>
		</form>
	</div>	

	<div th:insert="~{user_common :: footer}"></div>
</body>
</html>