<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>パスワード再設定</title>
</head>
<body>
	<div th:insert="~{user_common :: header}"></div>
	
	<h1>パスワード再設定</h1>
	<form th:object="${form}" th:action="@{/user/login/reset/password}" method="post">
		<div>
			<input type="password" th:field="*{password}" name="password" placeholder="新しいパスワード">
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;">
		</div>
		<div>
			<input type="password" th:field="*{passwordConfirm}" name="passwordConfirm" placeholder="パスワード確認">
			<span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color: red;"></span>
			<span th:if="${confirmError}" th:text="${confirmError}" style="color: red;"></span>
		</div>
		<br>
		<button type="submit">再設定</button>
	</form>

	<div th:insert="~{user_common :: footer}"></div>
</body>
</html>