<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/login/resetpassword.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>パスワード再設定</title>
</head>
<body>
	<div th:insert="~{user_common :: header}"></div>
	
	<div class="container">
		<h1>パスワード再設定</h1>
		<div>
			新しいパスワードを入力してください
		</div>
		<br>
		<form th:object="${form}" th:action="@{/user/login/reset/password}" method="post">
			<div>
				<input type="password" th:field="*{password}" name="password" placeholder="パスワード">
				<div th:unless="${#fields.hasErrors('password')}" class="brank">　</div>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
			</div>
			<div>
				<input type="password" th:field="*{passwordConfirm}" name="passwordConfirm" placeholder="パスワード確認">
				<div th:unless="${confirmError}">　</div>
				<div th:if="${confirmError}" th:text="${confirmError}" style="color: red;"></div>
			</div>
			<div>
				<button type="submit">再設定</button>
			</div>
		</form>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
</body>
</html>