<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
<title>会員情報詳細</title>
</head>
<body>
	<div th:insert="~{user_common :: header}"></div>

	<h1>会員情報詳細</h1>
	
	<div>
		<form th:action="@{/user/item/list}" method="get">
			<button type="submit" >一覧に戻る</button>
		</form>
		<form th:action="@{/user/delete/confirm}" method="get">
			<button type="submit" >退会</button>
		</form>
		<form th:action="@{/user/order/list}" method="get">
			<button type="submit" >注文履歴</button>
		</form>
	</div>
	<div>
		<div>
			<div>名前　<span th:text="${user.name}"></span></div>
		</div>
		<div>
			<div>メールアドレス　<span th:text="${user.email}"></span></div>
		</div>
		<div>
			<div>郵便番号　<span th:text="${user.postcode}"></span></div>
		</div>
		<div>
			<div>住所　<span th:text="${user.address}"></span></div>
		</div>
		<div>
			<div>電話番号　<span th:text="${user.tel}"></span></div>
		</div>
	</div>
	<div>
		<form th:action="@{/user/edit}" method="get">
			<button type="submit" >編集</button>
		</form>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
</body>
</html>