<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vjava_ec.repository.user.ItemMapper">

	<!-- DBから商品詳細情報を取得 -->
	<select id="selectAll" resultType="com.example.vjava_ec.entity.Item">
		 SELECT id, character_id, name, detail, price, stock, sale_status, is_limited, is_deleted, image_path, created_at, updated_at 
	     FROM items 
	     WHERE is_deleted = false
	</select>
	
</mapper>