@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	min-height: 800px;
}

.container {
	max-width: 1600px;
	margin: 0px 100px 50px 100px;
	padding: 20px;
}

.top-contents {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	color: #333;
	margin-bottom: 30px;
	font-size: 40px;
}

button {
	background-color: #3cb371;
	color: white;
	border: none;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #2e8b57;
}

.main-contents {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.cart-item-area {
	margin-bottom: 20px;
}

.error {
	background-color: #ffebee;
	color: #c62828;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.label {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	font-size: 20px;
	font-weight: bold;
}

.label-item,
.label-total,
.label-amount {
	margin-left: 180px;
}

.cart-item-card {
	display: flex;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
}

.image {
	width: 130px;
	height: 130px;
	object-fit: cover;
	margin-right: 50px;
	margin-left: 50px;
}

.cart-item-info {
	flex-grow: 1;
}

.item-name,
.item-price {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.cart-item-amount {
	margin-right: 230px;
}

.cart-item-amount input {
	width: 50px;
	padding: 5px;
	text-align: center;
}

.delete-button-area {
	margin-right: 60px;
}

.cart-item-subtotal {
	font-weight: bold;
}

.total-price-area {
	background-color: #e8f5e9;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
}

.total-price-cart-under {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: right;
}

.total-price-card-under-button {
	display: flex;
	justify-content: space-between;
}

#nextButton {
	background-color: #1e90ff;
	color: white;
	border: none;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

#nextButton:hover {
	background-color: #4178F3;
}

.cart-empty-box {
	text-align: center;
	padding: 50px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-empty {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
}