<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<link th:href="@{/css/user/order/list.css}" rel="stylesheet">
	<title>注文履歴一覧</title>
</head>

<body>
	<div th:insert="~{user_common :: header}"></div>

	<h1>注文履歴一覧</h1>
	<div>
		<div th:if="${orderList == null || orderList.empty}">
			<div>注文履歴はありません</div>
		</div>
		<div th:if="${orderList}" th:each="order : ${orderList}">
			<div class="orderCard">
				<div class="orderItemCard">
					<div class="itemImage">
						<!-- 商品の画像を表示する -->
						<img th:src="${order.orderItems[0].item.imagePath}" alt="商品画像">
					</div>
					<div th:object="${order.orderItems[0]}" class="itemDetails">
						<div>商品名：<span th:text="*{item.name}"></span></div>
						<div>個数：<span th:text="*{amount}">1</span>個</div>
						<div>小計：<span
								th:text="*{#numbers.formatInteger(purchasePrice * amount,3,'COMMA')} + '円'"></span>
						</div>
					</div>
				</div>
				<div class="dots">・・・</div>
				<div class="orderLabel-Status" th:switch="${order.orderStatus}">注文ステータス
					<span th:case="1">受付済み</span>
					<span th:case="2">発送準備中</span>
					<span th:case="3">発送済み</span>
					<span th:case="4">キャンセル済み</span>
				</div>
				<div class="orderLabel">
					<div class="label">注文日 </div>
					<div class="orderDate" th:text="${#strings.substring(order.createdAt, 0, 10)}"></div>
				</div>
				<a th:href="@{/user/order/{id}(id=${order.id})}" class="detailLink">詳細を見る</a>
				<div class="totalPrice">合計　<span
						th:text="${#numbers.formatInteger(order.totalPrice,3,'COMMA')} + '円'"></span></div>

			</div>
		</div>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
	<script th:src="@{/js/user/common/user_common.js}"></script>
</body>

</html>