<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/home/home.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>ホーム</title>
</head>

<body>
	<div th:insert="~{user_common :: header}"></div>

	<!-- フラッシュメッセージの表示 -->
	<div th:if="${successMessage}" class="alert alert-success">
		<span th:text="${successMessage}" style="color: green;"></span>
	</div>

	<div class="img-area">
		<h1>VJava ECサイト</h1>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
</body>

</html>