<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="user_common :: header"></div>
	
	<h1>ホーム画面</h1>
	
	<!-- フラッシュメッセージの表示 -->
	<div th:if="${successMessage}" class="alert alert-success">
	    <span th:text="${successMessage}"></span>
	</div>
	
	<form th:action="@{/user/logout}" method="post">
	        <input type="submit" value="ログアウト">
	    </form>
	<div th:replace="user_common :: footer"></div>
</body>
</html>