<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">

</head>
<body>
	
	<div th:replace="user_common :: header"></div>
	
	<div class="login-container">
       <h2>Sign In</h2>
	<!-- エラー表示 -->
		<div th:if="${param.error}">
			<p style="color: red;">emailまたはpasswordが違います</p>
		</div>
		<!-- ログアウト表示 -->
		<div th:if="${param.logout}">
			<p style="color: blue">ログアウトしました</p>
		</div>
		<!-- サインアップ表示 -->
		<div th:if="${success}">
			<p th:text="${success}" style="color:green">登録しました</p>
		</div>
       <form th:action="@{/user/authentication}" method="post">
           <div class="form-group">
               <label for="email">email</label>
               <input type="text" id="email" name="email" required>
           </div>
           <div class="form-group">
               <label for="password">Password</label>
               <input type="password" id="password" name="password" required>
           </div>
           <button type="submit">Login</button>
       </form>
       <div class="register-link">
           <p>アカウントをお持ちでない方は <a th:href="@{/user/register}" style="font-weight: bold;"> こちら </a></p>
       </div>
   </div>
   
   <div th:replace="user_common :: footer"></div>
</body>
</html>