<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.vjava_ec.repository.admin.AdminItemMapper">

	<!-- 商品全件検索 -->
	<select id="selectAll"
		resultType="com.example.vjava_ec.dto.admin.adminItemDTO">
		SELECT i.id as itemId, i.character_id as characterId,
		i.name, i.detail, i.price,
		i.stock, i.sale_status as saleStatus,
		is_limited as isLimited,
		i.is_deleted isDeleted, i.image_path as
		imagePath, i.created_at as
		createdAt,i.updated_at as updatedAt, c.name
		as characterName
		FROM items i
		LEFT JOIN characters c ON i.character_id =
		c.id
	</select>

	<!-- 商品1件検索 -->
	<select id="selectById"
		resultType="com.example.vjava_ec.dto.admin.adminItemDTO">
		SELECT i.id as itemId, i.character_id as characterId,
		i.name, i.detail, i.price,
		i.stock, i.sale_status as saleStatus,
		is_limited as isLimited,
		i.is_deleted isDeleted, i.image_path as
		imagePath, i.created_at as
		createdAt,i.updated_at as updatedAt, c.name
		as characterName
		FROM items i
		LEFT JOIN characters c ON i.character_id =
		c.id
		WHERE i.id = #{id};
	</select>

	<!-- 商品登録 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO items( character_id, name, detail, price,
		stock, sale_status, is_limited, image_path, created_at,
		updated_at)
		VALUES (#{characterId}, #{name},
		#{detail}, #{price}, #{stock},
		#{saleStatus}, #{isLimited}, #{imagePath},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP);
	</insert>
</mapper>