<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vjava_ec.repository.admin.AdminUserMapper">
	<!-- 全件検索 -->
    <select id="selectAll" resultType="com.example.vjava_ec.entity.User">
        SELECT id, name, email, password, postcode, address, tel, is_deleted as isDeleted, role, created_at as createdAt,
        updated_at as updatedAt FROM users
    </select>
    <!-- １件検索 -->
    <select id="selectById" resultType="com.example.vjava_ec.entity.User">
        SELECT id, name, email, postcode, address, tel, is_deleted as isDeleted, created_at as createdAt, 
        updated_at as updatedAt FROM users WHERE id = #{id}
    </select>
    <!-- 更新 -->
    <update id="update">
	    UPDATE users
	    SET is_deleted = #{isDeleted}, updated_at = CURRENT_TIMESTAMP
	    WHERE id = #{id}
    </update>
</mapper>
