<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>共通ヘッダーとフッター</title>
</head>

<body>
	<header>
		<a th:href="@{/user}" class="logo-border">
			<img src="/images/default/user/logo/logo-1.png" alt="ロゴ" style="height: 90px;">
		</a>
		<h1>VJava ECサイト</h1>
		<!-- 検索フォーム -->
		<form class="search-form" th:action="@{/user/item/search}" method="get">
			<label>
				<input type="text" name="keyword" placeholder="キーワードを入力" required>
			</label>
			<button type="submit" aria-label="検索"></button>
		</form>
		<!-- ハンバーガーメニューアイコン -->
		<button class="hamburger-btn" id="hamburger-btn">
			<span class="hamburger-line"></span>
			<span class="hamburger-line"></span>
			<span class="hamburger-line"></span>
		</button>
		<!-- ナビゲーションリンク -->
		<div id="nav-links">
			<a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="header-loginlink">ログイン</a>
			<form th:action="@{/user/logout}" method="post">
				<button sec:authorize="isAuthenticated()" type="submit" class="header-loginlink">
					ログアウト
				</button>
			</form>
			<a th:href="@{/user/item/list}" class="header-useritemlistlink">商品一覧</a>
			<a th:href="@{/user/detail}" class="header-usetdetaillink">プロフィール</a>
			<a th:href="@{/user/cart/show}" class="header-cartlink">カート</a>
		</div>
	</header>
	<main>
		<h2>ホームページコンテンツ</h2>
		<!-- 追加のコンテンツ -->
	</main>

	<footer>
		<label>© 2024 グループ開発 チームC. VJava ECサイト.</label>
		<p>引用元：<a href="https://vspo.jp/" target="_blank" rel="noopener noreferrer">ぶいすぽっ！</a></p>
	</footer>
	<script th:src="@{/js/user/common/user_common.js}"></script>
</body>

</html>