@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	min-height: 800px;
}

h1 {
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
	font-size: 40px;
}

.order-date {
	text-align: right;
}

.container {
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.order-details {
	background-color: white;
	width: 50%;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px 40px 20px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 0px 20px 100px 50px;
}

.order-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.item {
	display: flex;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 15px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	gap: 10px;
	height: 150px;
}

.item img {
	width: 150px;
	height: 150px;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.item-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
}

.item-row {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.item-row .label {
	width: 30%;
	font-weight: bold;
	color: #696969;
	font-size: 20px;
	white-space: nowrap;
	margin-left: 30px;
}

.item-row .value {
	width: 70%;
	color: #696969;
	font-size: 18px;
	white-space: nowrap;
}

.item-total {
	display: flex;
	justify-content: end;
	margin-top: 120px;
	gap: 10px;
	margin-right: 5px;
}

.item-total .label {
	width: 30%;
	font-weight: bold;
	color: #696969;
	font-size: 20px;
	white-space: nowrap;
	margin-left: 30px;
}

.item-total .value {
	width: 70%;
	color: #696969;
	font-size: 18px;
	white-space: nowrap;
}

.pay-info {
	display: flex;
	justify-content: end;
	gap: 40px;
	margin-top: 20px;
}

.payment {
	text-align: right;
}

.price-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.postage,
.total-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.postagename {
	font-weight: bold;
	margin-right: 50px;
}

.button-back {
	/* ボタンを中央に配置 */
	text-align: center;
	/* 上部に余白を追加 */
	margin-top: 20px;
}

.button-area {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 15%;
}


.blue-button {
	/* 青色の背景 */
	background-color: #007bff;
	/* 文字色は白 */
	color: white;
	/* 枠を消す */
	border: none;
	/* 内側の余白を調整 */
	padding: 10px 20px;
	/* 角を丸くする */
	border-radius: 5px;
	/* ホバー時にカーソルをポインターに */
	cursor: pointer;
	/* フォントサイズを調整 */
	font-size: 16px;
	/* ホバー時に背景色を変更 */
	transition: background-color 0.3s ease;
}

.blue-button:hover {
	/* ホバー時の背景色 */
	background-color: #0056b3;
}

.green-button {
	background-color: #3cb371;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.green-button:hover {
	background-color: #2e8b57;
}

.cancel-button {
	background-color: rgb(128, 128, 128);
	color: #fff;
	/* 枠を消す */
	border: none;
	/* 内側の余白を調整 */
	padding: 10px 20px;
	/* 角を丸くする */
	border-radius: 5px;
	/* ホバー時にカーソルをポインターに */
	cursor: pointer;
	/* フォントサイズを調整 */
	font-size: 16px;
	/* ホバー時に背景色を変更 */
	transition: background-color 0.3s ease;
}

.cancel-button:hover {
	background-color: rgb(100, 100, 100);
}

.shipping-info-contents {
	width: 40%;
	margin: 0px 50px 100px 0px;
}

.shipping-info-area-base {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shipping-info-contents h2 {
	text-align: center;
	color: rgb(0, 0, 0);
	margin-top: 50px;
	margin-bottom: 20px;
}

.shipping-info-area {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 50px;
}

.shipping-info-label {
	color: #696969;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 48%;
	text-align: center;
}

.shipping-info {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 48%;
	text-align: center;
	margin-bottom: 50px;
}

.shipping-info p {
	font-size: 20px;
	color: #696969;
	text-align: left;
	line-height: 1.5;
}