@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

h1 {
	text-align: center;
}

.orderCard {
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.orderItemCard {
	padding: 10px;
	display: flex;
	/*	justify-content: space-between;*/
	background-color: white;
	/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
	border-radius: 8px;
	border: 2px solid #c0c0c0;
}

.itemImage img {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.itemDetails {
	color: #696969;
	font-weight: bold;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dots {
	text-align: center;
	font-size: 20px;
	margin: 20px 0;
	transform: rotate(90deg);
}

.orderLabel-Status {
	color: #696969;
	font-weight: bold;
	/* 太字に設定 */
}

.orderLabel {
	display: flex;
	align-items: center;
}

.orderLabel .label {
	color: #696969;
	margin-right: 8px;
	font-weight: bold;
	/* 太字に設定 */
}

.orderDate {
	color: #696969;
	font-weight: bold;
	/* 太字に設定 */
}


.detailLink {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #1e90ff;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	text-align: center;
	width: auto;
	max-width: 150px;
}

.detailLink:hover {
	background-color: #4178F3;
}



.totalPrice {
	font-weight: bold;
	margin-top: 10px;
	font-size: 18px;
	color: #333;
}