<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>注文履歴一覧</title>
</head>

<body>
	<div id="admin-header" th:insert="~{admin_common::admin-header}"></div>
	<div class="my-4 mx-5" style="min-height: 780px;">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center">
				<h1>注文履歴一覧</h1>
			</div>
		</div>
		
		<!-- 検索フォーム -->
		<div class="row justify-content-center my-4">
		    <div class="col-md-8">
		        <form th:action="@{/admin/order/search}" method="get" class="form-inline">
		            <label for="search" class="mr-2">検索（注文IDまたは注文者名）:</label>
		            <input type="text" id="search" name="search" class="form-control mr-4">
		            <button type="submit" class="btn btn-primary">検索</button>
		        </form>
		    </div>
		</div>
		
		<!-- 検索結果メッセージ -->
		<div class="row">
		    <div th:if="${message}" th:text="${message}" class="col-md-5 alert alert-primary" role="alert"></div>
		    <div th:if="${errorMessage}" th:text="${errorMessage}" class="col-md-5 alert alert-danger" role="alert">
		</div>
			
		<div class="row">
			<div class="col-md-12">
				<!-- 注文履歴データがない場合のメッセージ -->
				<div th:if="${orderList.isEmpty() and message == null}" class="col-md-5 alert alert-danger">注文履歴データがありません。</div>
				<!-- 注文履歴一覧 -->
				<table class="table table-hover table-bordered" th:if="${!orderList.isEmpty()}">
					<thead class="table-info">
						<tr>
							<th>注文ID</th>
							<th>注文者</th>
							<th>購入日</th>
							<th>合計金額（税込）</th>
							<th>注文ステータス</th>
							<th>更新日</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${orderList}">
							<td th:text="${order.orderId}"></td>
							<td th:text="${order.userName}"></td>
							<td th:text="${order.createdAt.format(T(java.time.format.DateTimeFormatter)
								.ofPattern('yyyy/MM/dd HH:mm'))}"></td>
							<td th:text="${#numbers.formatInteger(order.totalPrice,3,'COMMA')} + '円'"></td>
							<td>
								<span th:if="${order.orderStatus == 1}" th:text="'受付済'"></span>
								<span th:if="${order.orderStatus == 2}" th:text="'発送準備中'"></span>
								<span th:if="${order.orderStatus == 3}" th:text="'発送済'"></span>
								<span th:if="${order.orderStatus == 4}" th:text="'キャンセル済'"></span>
							</td>
							<td th:text="${order.updatedAt.format(T(java.time.format.DateTimeFormatter)
								.ofPattern('yyyy/MM/dd HH:mm'))}"></td>
							<td>
								<a th:href="@{/admin/order/{id}(id=${order.orderId})}"
									class="btn btn-sm btn-outline-info">詳細</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="admin-footer" th:insert="~{admin_common::admin-footer}"></div>

</body>

</html>