
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 40px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

.item-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.status-label {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 2; /* 画像よりも上に表示 */
}

.Limited-label {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(255, 69, 58); /* 鮮やかな赤色背景 */
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 少し浮いているような影 */
    text-transform: uppercase; /* すべて大文字にして強調 */
    letter-spacing: 1px; /* 文字間隔を広く */
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 0,
        rgba(255, 255, 255, 0.3) 10px,
        transparent 10px,
        transparent 20px
    ); /* 斜めのストライプ */
}

.item-card img {
    width: calc(100% - 20px);
    height: 350px;
    object-fit: cover;
    margin: 10px;
    border-radius: 4px;
}

.item-details {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.item-details h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #696969;
    text-align: right;
}

.price {
    font-weight: bold;
    color: #696969;
    margin-top: auto;
    text-align: right;
}

.detail-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.detail-link:hover {
    background-color: #4178F3;
}

@media (max-width: 1200px) {
    .item-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .item-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .item-grid {
        grid-template-columns: 1fr;
    }
}
