<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>商品新規登録</title>
</head>

<body>
	<div class="container" style="min-height: 600px;">
		<div class="row">
			<div class="col-md-10 offset-md-1 mt-5">
				<h1 class="mb-5 text-center">商品新規登録</h1>
				<form th:action="@{/posts/save}" th:object="${adminItemForm}" method="post"
					enctype="multipart/form-data">
					<!-- idは更新時に必要なため、hiddenで持つ -->
					<!-- <input type="hidden" th:field="*{id}"> -->

					<!-- <div class="my-3">
						<label for="characterInput" class="form-label">キャラクター名</label>
						<input type="text" th:field="*{characterId}" class="form-control" id="characterInput"
							placeholder="を入力"> -->
					<!-- タイトル：バリデーションエラー表示 -->
					<!-- <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;">
							エラーがあれば表示 -->
					<!-- </span>
					</div>  -->

					<div class="my-3 d-flex flex-row">
						<label for="nameInput" class="col-md-2 form-label">商品名</label>
						<input type="text" th:field="*{name}" class="col-md-8 form-control" id="nameInput"
							placeholder="商品名を入力">
						</input>
						<!-- バリデーションエラー表示 -->
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3 d-flex flex-row">
						<label for="detailInput" class="col-md-2 form-label">商品詳細</label>
						<textarea rows="10" cols="30" type="text" th:field="*{detail}" class="col-md-8 form-control"
							id="detailInput" placeholder="商品詳細を入力">
						</textarea>
						<!-- バリデーションエラー表示 -->
						<span th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3 d-flex flex-row">
						<label for="priceInput" class="col-md-2 form-label">価格(税抜)</label>
						<input type="text" th:field="*{price}" class="col-md-8 form-control" id="priceInput">
						</input>
						<p class="form-text ml-2">円</p>
					</div>
					<div class="my-3 d-flex flex-row">
						<label for="stockInput" class="col-md-2 form-label">在庫数</label>
						<input type="text" th:field="*{stock}" class="col-md-8 form-control" id="stockInput">
						</input>
						<p class="form-text ml-2">個</p>
					</div>
					<div class="my-3 d-flex flex-row">
						<label for="file" class="col-md-2 form-label">画像</label>
						<input type="file" class="col-md-8 form-control" id="file" name="file">
					</div>

					<div class="my-5 col-md-8 offset-md-4 d-flex flex-row text-center">
						<!-- ボタン -->
						<a th:href="@{/admin/item/list}" class="btn btn-outline-secondary mr-3">キャンセル</a>
						<input type="submit" value="登録" class="btn btn-outline-info mx-3">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>