<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link th:href="@{/css/user/register/register.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>会員新規登録</title>
</head>

<body>
	<div th:insert="~{user_common :: header}"></div>

	<!-- フォーム開始 -->
	<div class="container">
		<h2>会員新規登録</h2>
		<!-- メールアドレス登録時重複エラー -->
		<div th:if="${error}" th:text="${error}" style="color: red;"></div>
		
		<form action="#" method="post" th:action="@{/user/register}" th:object="${signupUserForm}"
			onsubmit="return disableButton(this)">
			<div class="register-form-input">
				<div class="form-group">
					<label for="name">名前　　　　　</label>
					<input type="text" id="name" name="name" th:field="*{name}" placeholder="名前を入力">
					<!-- エラー表示 -->
					<div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">名前を入力してください</div>
				</div>

				<div class="form-group">
					<label for="email">メールアドレス</label>
					<input type="text" id="email" name="email" th:field="*{email}" placeholder="メールアドレスを入力">
					<div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">正しいメールアドレスを入力してください
					</div>
				</div>

				<div class="form-group">
					<label for="password">パスワード　　</label>
					<input type="password" id="password" name="password" th:field="*{password}" placeholder="パスワードを入力">
					<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">パスワードを入力してください
					</div>
				</div>

				<div class="form-group">
					<label for="passwordConfirm">確認用パスワード</label>
					<input type="password" id="passwordConfirm" name="passwordConfirm" th:field="*{passwordConfirm}"
						placeholder="確認用パスワードを入力">
					<div class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">
						パスワードが一致しません</div>
					<!-- パスワード不一致 -->
					<div class="error" th:if="${passwordNotEqual}" th:text="${passwordNotEqual}"></div>
				</div>

				<div class="form-group">
					<label for="postcode">郵便番号　　　</label>
					<input type="text" id="postcode" name="postcode" th:field="*{postcode}" title="7桁の郵便番号を入力してください"
						placeholder="郵便番号を入力">
					<div class="error" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">郵便番号は7桁で入力してください
					</div>
				</div>

				<div class="form-group">
					<label for="address">住所　　　　　</label>
					<input type="text" id="address" name="address" th:field="*{address}" placeholder="住所を入力">
					<div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">住所を入力してください</div>
				</div>

				<div class="form-group">
					<label for="tel">電話番号　　　</label>
					<input type="text" id="tel" name="tel" th:field="*{tel}" title="11桁の電話番号を入力してください"
						placeholder="電話番号を入力">
					<div class="error" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">電話番号は11桁で入力してください</div>
				</div>

				<!-- 送信ボタン -->
				<div class="button-container">
					<button type="submit" id="submitButton">登録する</button>
				</div>
			</div>
		</form>
	</div>

	<div th:insert="~{user_common :: footer}"></div>
	<script th:src="@{/js/user/register/register.js}"></script>
	<script th:src="@{/js/user/common/user_common.js}"></script>
</body>

</html>