<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/user/item/list.css}" rel="stylesheet">
	<link th:href="@{/css/user/common/user_common.css}" rel="stylesheet">
	<title>商品一覧</title>
</head>

<body>
	<div th:insert="~{user_common :: header}"></div>

	<h1>商品一覧</h1>

	<!-- 商品がない場合のメッセージ -->
	<div th:if="${items.isEmpty() and message == null}">商品がありません。</div>

	<!-- 検索結果がない場合のメッセージ -->
	<div th:if="${message != null}">[[${message}]]</div>
	<!-- 商品リスト -->
	<div class="item-grid">
		<div th:each="item : ${items}" class="item-card">
			<img th:src="@{${item.imagePath}}" alt="商品画像">
			<div class="item-details">
				<h3 th:text="${item.name}">商品名</h3>
				<p class="price" th:text="${item.price} + '円(税込)'">価格</p>
				<a th:href="@{'/user/item/' + ${item.id}}" class="detail-link">商品詳細</a>
			</div>
		</div>
	</div>
	<div th:insert="~{user_common :: footer}"></div>
</body>

</html>